@import "bootstrap/scss/bootstrap";

@import "loader";

#root {
  min-height: 100dvh;
}

html,
body {
  height: 100%;
}

.main-container {
  min-height: 100dvh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  footer {
    grid-row-start: -1;
  }
  main {
    height: 100%;
  }
  header {
    grid-row-start: 1;
  }
}

.card {
  align-content: center;
}

.image-card {
  width: 100%;
  background: bisque;
  position: relative;
  overflow: hidden;
  display: flex;
  align-content: center;
  flex: 1;
  img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: all 0.25s ease-in;
  }
  .context-menu-top {
    top: 10px;
    right: 10px;
    position: absolute;
    transform: translateY(-200%);
    transition: all 0.25s ease-in;
    // button {
    //     background-color:scale-color($color:gray,$alpha: -50%);
    //     border: none;
    //     border-radius: 10px;
    // }
  }
  .context-menu-bottom {
    bottom: 10px;
    left: 10px;
    position: absolute;
    transform: translateY(200%);
    transition: all 0.25s ease-in;
  }
  .context-menu-bottom,
  .context-menu-top {
    button svg {
      margin: 5px;
    }
  }
  &:hover {
    .context-menu-top,
    .context-menu-bottom {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
    img {
      scale: 1.1;
    }
  }
}

.categories-preview {
  h3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}

.carousel-container {
  position: relative;
  padding-bottom: 1.5rem;
}

.image-details {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}
